<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="platform:/resource/AndroidIntent/model/Intent.ecore"
            class="IntentDSL.impl.IntentDSLPackageImpl"
            genModel="model/Intent.genmodel"/>
   </extension>

</plugin>
